# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.lab9.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\admin\Documents\XXX\DB\9lab\lab9\.idea\.idea.lab9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
